<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/vuelos</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">123</property>
    <mapping resource="EntidadAgencias.hbm.xml"/>
    <mapping resource="EntidadClientes.hbm.xml"/>
    <mapping resource="EntidadClientesDestinos.hbm.xml"/>
    <mapping resource="EntidadDestinos.hbm.xml"/>
    <mapping resource="EntidadDestinosAgencias.hbm.xml"/>
    <mapping resource="EntidadVuelos.hbm.xml"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>